input{
    width: 80%;
    margin: 2.5px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    padding: 10px 5px;
    color: #32325d;
    font-size: 15px;
    outline: none;
}
::placeholder{
    color: #aab7c4;
}
select{
    width: 83%;
    margin: 2.5px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    padding: 10px 5px;
    color: #32325d;
    font-size: 15px;
    outline: none;
}